.speech {
    font-family: "Times New Roman";
    font-size: 15px;
    color: black;
}

.stage-direction {
    font-family: Arial;
    font-size: 15px;
    color: black;
    background-color: lightgray;
}

.stage-direction:hover {
    color: rgb(255, 100, 100);
    background-color: rgb(17, 13, 13);
}

.erlynne {
    color: rgb(81, 143, 224);
    font-size: 20px;
}

.ladywindermere {
    color: rgb(81, 219, 208);
    font-size: 20px;
}

.lordaugustus {
    color: rgb(247, 161, 63);
    font-size: 20px;
}

.dumby {
    color: rgb(30, 27, 218);
    font-size: 20px;
}

.erlynne:hover {
    text-shadow: rgb(81, 143, 224) 5px 0 12px;
    color: rgb(81, 143, 224);
    font-size: 20px;
    border: 1px solid black;
    display: inline;
}

.ladywindermere:hover {
    text-shadow: rgb(81, 219, 208) 5px 0 12px;
    color: rgb(81, 219, 208);
    font-size: 20px;
    border: 1px solid black;
    display: inline;
}

.lordaugustus:hover {
    text-shadow: rgb(247, 161, 63) 5px 0 12px;
    color: rgb(247, 161, 63);
    font-size: 20px;
    border: 1px solid black;
    display: inline;
}

.dumby:hover {
    text-shadow: rgb(30, 27, 218) 5px 0 12px;
    color: rgb(30, 27, 218);
    font-size: 20px;
    border: 1px solid black;
    display: inline;
}

table {
    border: 1px solid black;
    width: auto;
    margin-left: 20px;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #04AA6D;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    
    li {
    float: left;
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover {
    background-color: #111;
    }